<div class="container py-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
    
            <!-- form card login with validation feedback -->
            <div class="py-5">
                    <div class="display-4 py-4">
                        <h3 class="mb-0 text-center pt-5 ">Iniciar sesion</h3>
                    </div>
                    <div class="display-3 py-4 d-flex justify-content-center py-4">
                        <img src="../assets/img/dj1.jpg" class="img-fluid logo w-25" alt="" srcset="">
                    </div>
                    
                    <form class="form pt-4" role="form" autocomplete="off" id="loginForm" novalidate="" method="POST">
                        <div class="form-group">
                            <label for="uname1">Username</label>
                            <input type="text" class="form-control" name="uname1" id="uname1" required="">
                            <div class="invalid-feedback">Please enter your username or email</div>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" id="pwd1" required="" autocomplete="new-password">
                            <div class="invalid-feedback">Please enter a password</div>
                        </div>
                        <div class="form-check small">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"> <span>Remember me on this computer</span>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-success btn-lg my-4 bg-dark" id="btnLogin">Login</button>
                    </form>
                
                <!--/card-body-->
            </div>
    </div>
    
</div>