/* You can add global styles to this file, and also import other style files */

.navThings{
    padding-bottom: 70px;
    margin: 0px auto !important;
}
.brandNew{
    font-size: 30px;

}
.containerSection{
    margin-top: 75px ;
}
.showMore{
    border-radius: 50%;
    font-size: 30px;
    padding: 0px 12px 4px  12px;

}
.showMore a{
    text-decoration: none;
}
.about{
    font-size: 22px;
}
