<div class="container-fluid containerSection">

    <div class="carousel slide" data-ride="carousel" >
      <div class="carousel-inner">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-item active">
          <img class="d-block w-100 rounded" src="../assets/img/dj1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/img/dj1.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../assets/img/dj1.jpg" alt="Third slide">
        </div>
      </div>
  
    </div>
    
    
  
    <div class="row py-4" >
      <div class="col-sm-12 d-flex justify-content-center" data-aos="slide-up" data-aos-once="false" data-aos-easing="ease-in-sine">
        <h1 class="display-2 py-4 ">Sobre nosotros</h1>
      </div>
    </div>
    <div class="row py-4">
      <div class="col-sm-12 d-flex justify-content-center" data-aos="zoom-in" data-aos-once="false" data-aos-easing="ease-in-sine">
        <p class="container p1 about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea repellat et vero voluptatem quasi culpa cupiditate aspernatur dolore, dolores, commodi dicta nobis! Quas quidem totam, dolorem veniam nobis tempore sapiente commodi aliquid quae maiores corporis modi quasi dolor necessitatibus vel rem explicabo expedita illo perspiciatis consequuntur cupiditate perferendis iusto? Veritatis iure nam temporibus. Distinctio assumenda reprehenderit ex perferendis est cumque deleniti delectus officiis commodi, ducimus aliquid dignissimos facere, quasi doloribus saepe hic? Possimus sequi non placeat eaque autem nam a dolores repellendus dolore! Nostrum, nobis quaerat hic explicabo ducimus totam expedita enim, laboriosam veritatis, sed amet tempora quidem! Saepe, praesentium.</p>
      </div>
    </div>
      
    <div class="row py-3 " >
      <div class="col-sm-12 d-flex justify-content-center">
        <div class="display-2 py-4">Miembros</div>
      </div>
    </div>
    <div class="row d-flex justify-content-center " data-aos="fade-up" data-aos-once="false" data-aos-easing="ease-in-sine">
      <div class="col-sm-12 col-md-2 col-lg-2" >
        <a href="#" class="btn btn-outline-secondary border-0"><img src="../assets/img/dj1.jpg" class="img-thumbnail img-fluid" alt="Responsive image"><span>Kobain</span></a>
      </div>
      <div class="col-sm-12 col-md-2 col-lg-2">
        <a href="#" class="btn btn-outline-secondary border-0"><img src="../assets/img/dj1.jpg" class="img-thumbnail img-fluid" alt="Responsive image"><span>Kobain</span></a>
      </div>
      <div class="col-sm-12 col-md-2 col-lg-2">
        <a href="#" class="btn btn-outline-secondary border-0"><img src="../assets/img/dj1.jpg" class="img-thumbnail img-fluid" alt="Responsive image"><span>Kobain</span></a>
      </div>
      <div class="col-sm-12 col-md-2 col-lg-2">
        <a href="#" class="btn btn-outline-secondary border-0"><img src="../assets/img/dj1.jpg" class="img-thumbnail img-fluid" alt="Responsive image"><span>Kobain</span></a>
      </div>
      <div class="col-sm-12 col-md-2 col-lg-2">
        <a href="#" class="btn btn-outline-secondary border-0"><img src="../assets/img/dj1.jpg" class="img-thumbnail img-fluid" alt="Responsive image"><span>Kobain</span></a>
      </div>    
    </div>
    <div class="row d-flex justify-content-center" data-aos="fade-up" data-aos-once="false" data-aos-easing="ease-in-sine">
      <div class="col-sm-12 col-md-2 col-lg-2">
        <a href="#" class="btn btn-outline-secondary border-0"><img src="../assets/img/dj1.jpg" class="img-thumbnail img-fluid" alt="Responsive image"><span>Kobain</span></a>
      </div>
      <div class="col-sm-12 col-md-2 col-lg-2">
        <a href="#" class="btn btn-outline-secondary border-0"><img src="../assets/img/dj1.jpg" class="img-thumbnail img-fluid" alt="Responsive image"><span>Kobain</span></a>
      </div>
      <div class="col-sm-12 col-md-2 col-lg-2">
        <a href="#" class="btn btn-outline-secondary border-0"><img src="../assets/img/dj1.jpg" class="img-thumbnail img-fluid" alt="Responsive image"><span>Kobain</span></a>
      </div>
      <div class="col-sm-12 col-md-2 col-lg-2">
        <a href="#" class="btn btn-outline-secondary border-0"><img src="../assets/img/dj1.jpg" class="img-thumbnail img-fluid" alt="Responsive image"><span>Kobain</span></a>
      </div>
      <div class="col-sm-12 col-md-2 col-lg-2">
        <a href="#" class="btn btn-outline-secondary border-0"><img src="../assets/img/dj1.jpg" class="img-thumbnail img-fluid" alt="Responsive image"><span>Kobain</span></a>
      </div>    
    </div>
  
    <div class="releases text-dark">
      <div class="row py-4">
        <div class="col-sm-12 d-flex justify-content-center">
          <div class="display-2">Releases</div>
        </div>
      </div>
      <div class="row py-4 border border-light border-top-0" >
        <div class="col-sm-6">
          <div class="row" data-aos="fade-up" data-aos-once="false" data-aos-easing="ease-in-sine">
            <div class="col-sm-12 d-flex justify-content-end">
              <a href="#"><img src="../assets/img/dj1.jpg" class="rounded  img-fluid" alt="Responsive image"></a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row " data-aos="fade-left" data-aos-once="false" data-aos-easing="ease-in-sine">
            <div class="col-sm-8 px-4">
              <a href="#" style="text-decoration: none; "><span class="display-4 text-dark py-1">Titulo</span></a>
              <div class="h4 py-2">Fecha de Publicacion</div>
              <div class="p2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates sint dicta numquam, culpa nisi officiis repellendus enim doloremque incidunt, ullam iure ab in atque sapiente nihil qui quibusdam perferendis, id accusantium eos mollitia at. Sequi minus recusandae nisi odit culpa corrupti quisquam inventore amet ullam velit officia aliquam at, voluptatem quod eius, deserunt soluta minima necessitatibus. Natus autem a, officia nam laudantium veritatis ex repellat pariatur blanditiis delectus omnis magni doloribus voluptatum eum alias facere repellendus! Odio quis accusamus tempore blanditiis similique praesentium excepturi iure nobis? Non mollitia neque, libero quia quisquam officiis sapiente ipsam molestias, enim ea nisi odio.</div>
              
            </div>
          </div>
        </div>
    
      </div>
      <div class="row py-4 border border-light border-top-0" >
        <div class="col-sm-6">
          <div class="row" data-aos="fade-up" data-aos-once="false" data-aos-easing="ease-in-sine">
            <div class="col-sm-12 d-flex justify-content-end">
              <a href="#"><img src="../assets/img/dj1.jpg" class="rounded  img-fluid" alt="Responsive image"></a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row " data-aos="fade-left" data-aos-once="false" data-aos-easing="ease-in-sine">
            <div class="col-sm-8 px-4">
              <a href="#" style="text-decoration: none; "><span class="display-4 text-dark py-1">Titulo</span></a>
              <div class="h4 py-2">Fecha de Publicacion</div>
              <div class="p2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates sint dicta numquam, culpa nisi officiis repellendus enim doloremque incidunt, ullam iure ab in atque sapiente nihil qui quibusdam perferendis, id accusantium eos mollitia at. Sequi minus recusandae nisi odit culpa corrupti quisquam inventore amet ullam velit officia aliquam at, voluptatem quod eius, deserunt soluta minima necessitatibus. Natus autem a, officia nam laudantium veritatis ex repellat pariatur blanditiis delectus omnis magni doloribus voluptatum eum alias facere repellendus! Odio quis accusamus tempore blanditiis similique praesentium excepturi iure nobis? Non mollitia neque, libero quia quisquam officiis sapiente ipsam molestias, enim ea nisi odio.</div>
              
            </div>
          </div>
        </div>
    
      </div>
      <div class="row py-4 border border-light border-top-0" >
        <div class="col-sm-6">
          <div class="row" data-aos="fade-up" data-aos-once="false" data-aos-easing="ease-in-sine">
            <div class="col-sm-12 d-flex justify-content-end">
              <a href="#"><img src="../assets/img/dj1.jpg" class="rounded  img-fluid" alt="Responsive image"></a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row " data-aos="fade-left" data-aos-once="false" data-aos-easing="ease-in-sine">
            <div class="col-sm-8 px-4">
              <a href="#" style="text-decoration: none; "><span class="display-4 text-dark py-1">Titulo</span></a>
              <div class="h4 py-2">Fecha de Publicacion</div>
              <div class="p2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates sint dicta numquam, culpa nisi officiis repellendus enim doloremque incidunt, ullam iure ab in atque sapiente nihil qui quibusdam perferendis, id accusantium eos mollitia at. Sequi minus recusandae nisi odit culpa corrupti quisquam inventore amet ullam velit officia aliquam at, voluptatem quod eius, deserunt soluta minima necessitatibus. Natus autem a, officia nam laudantium veritatis ex repellat pariatur blanditiis delectus omnis magni doloribus voluptatum eum alias facere repellendus! Odio quis accusamus tempore blanditiis similique praesentium excepturi iure nobis? Non mollitia neque, libero quia quisquam officiis sapiente ipsam molestias, enim ea nisi odio.</div>
              
            </div>
          </div>
        </div>
    
      </div>
      
      
      <div class="row justify-content-center">
        <div class="btn btn-dark my-4 showMore"><a href="#" class="text-light">+</a></div>
      </div>
    
  </div>
